<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav">
            <li><a href="navbar_brand" href={% url 'basic_app:list' %}">Schools</a></li>
            <li><a href={% url 'admin:index' %}>Admin</a></li>
            <li><a href={% url 'basic_app:student_list' %}>Students</a></li>
        </ul>
    </nav>
</body>
</html>